{% extends "NFPlatformBundle::layout.html.twig" %}

{% block title %}
  Edition utilisateur - {{ parent() }}
{% endblock %}

{% block body %}
	
	<h2>Edition d'un utilisateur</h2>
	
		{{ include("NFPlatformBundle:Activities:formUser.html.twig") }}

{% endblock %}