{% extends "NFPlatformBundle::layout.html.twig" %}

{% block title %}
  Excel - {{ parent() }}
{% endblock %}

{% block body %}
	 <h2>Test de l'excel</h2>
	 <p>Tester voir si c'est ok<p>

{% endblock %}